<aside class='unit sidebar'>
<section class='padding'>
<div class='padding'>
	<h1 class='h6'>About</h1>
	<figure>
	<img src="https://lh4.googleusercontent.com/-2h2eHmqWzFY/TiHL5BzG_sI/AAAAAAAAFRw/rQGronsKBIg/IMG_1283.JPG" />
	<figcaption>
	<h1 class='h5'>Stephen Wyatt Bush</h1>
	</figcaption>
	</figure>
	<p class='small'>I&rsquo;m a Web developer living in Atlanta, GA. I hold a BFA in graphic design, love open-source software and programming, and am a constant learner.</p>
	<ul>
		<li>
    <a href="http://twitter.com/wyattdanger" class="twitter-follow-button" data-show-count="false">Follow wyattdanger</a>
		</li>
		<li>
		<a href="http://github.com/wyattdanger" rel="me">wyattdanger</a> on Github
		</li>
		<li>
		<a href="http://pinboard.in/u:wyattdanger" rel="me">wyattdanger</a> on Pinboard
		</li>
		<li>
		<a href="http://www.last.fm/user/stephenbush" rel="me">stephenbush</a> on last.fm
		</li>
		<li>
		<a href="http://about.me/stephenwyattbush" rel="me">me</a> on about.me
		</li>
	</ul>
	<p class='small'><a href='{{ site.subscribe_rss }}'>Subscribe to RSS</a></p>
</div>
</section>
</aside>
